/* text1 = h4 */
/* text2 = h6 */
/* text4 = h2 perfil */
/* text3 = a y p */
/* text5 = h2, h3 sidebar */
/* text6 = a sidebar */
.text1 {
  font-family: "Courgette", bolder;
}
.text1, .text4 {
  color: #27807b;
}

.text2, .text3, .textskl {
  font-family: "Courgette", cursive;
  font-weight: lighter;
}

.text2 {
  color: #3b635f;
}
.text3 {
  font-size: 1.2em;
  color: #132926;
  pointer-events: none;
}

.text5, .text4 {
  font-family: "Satisfy", light;
  font-weight: 100;
  font-size: 1.7em;
}

.text6 {
  font-family: "Courgette", cursive;
  font-size: 1.1em;
}

.text1{
  font-size: 1.3em;
}

.textskl{
  font-size: 1em;
}