/* TODO: CONTANIER NAVBAR */
.sidebar-container {
    flex-flow: wrap;
    position: fixed;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    background: #1a1a1a;
    color: #e8ffff;
    box-shadow: 5px 2px 10px 1px #3b635f;
    
}

/* ---------------------------------------------------------- */
/* TODO: SECCION SUPERIOR DEL NAVBAR */

.sidebar-logo {
    cursor:pointer;
    display: flex;
    justify-content: center;
    height: 266px;
    padding: 0% 20% 0px 20%;
    background-color: #41aea9;
}

.LogoSeccion1, .LogoSeccion2{
    align-self: center;
    width: inherit;
}

/* ---------------------------------------------------------- */
/* TODO: FOTO NAVBAR */

.imgNav{
    height: 125px; 
    width: 125px; 
    align-self: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* ---------------------------------------------------------- */
/* TODO: SECCION DE OPCIONES */

.sidebar-navigation {
    display: block;
    align-self: center;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #e8ffff;
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li::before {
    background-color: #41aea9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

/* ---------------------------------------------------------- */
/* TODO: ICONS */

i.fas{
    font-size: 1.30rem;
    color: #e8ffff;
}

/* ---------------------------------------------------------- */
/* TODO: NAV RESPONSIVE */

.navBarContainer{
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 0;
    margin: 0;
    height: 10vh;
    width: 100vw;
    overflow: hidden;
    background: #1a1a1afb;
    box-shadow: 5px 2px 10px 1px #3b635f;
}

.nav {
    float:left;
    padding: 0;
}

.nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}