*, body, html, div, blockquote, img, p, h1, h2, h3, h4, h5, h6, label,pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td, nav, header, aside, .content, .row, .column,
.container-fluid, .nav
{
margin: 0; padding: 0; border: 0; outline: none; background: transparent; text-decoration: none;
overflow: hidden;

}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6
{
font-size: 100%;
line-height: 1.4;
}

body
{
line-height: 1.3;
font-size: 100%;
overflow-y: auto;
overflow-x: hidden;
}
 
ul, ol, li
{
list-style: none;
}
 
