/* Small devices (phones,tablets, 992px and down) */
@media only screen and (max-width: 992px) { 
     
    .contenido{
        padding-top: 15vh;
        align-items: stretch;
        position: absolute;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
  
    .per{
        position: absolute;
    }

    .exp, .per{
        padding-bottom: 10vh; 
    }

    .text3{
        padding: 0 5vw 0 5vw;
    }

    .expText, .expText-1, .expText-2, .textContacto, 
    .expSubText, .expSubText-1, .expSubText-2, .textEdu, .animationtext, .animationtext-1 {
        animation-name: escala;
        animation-duration: 2s;
    }

    .lineaHorizontal{
        width: 70vw;
    }

    .nav{
        width: 100vw;
    }

    .nav ul{
        justify-content: space-evenly;
    }

    i.fas {
        font-size: 1.6em;
    }
}  

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    .exp{
        padding: 5% 0 5% 0;
    }    
    .contenido{
        overflow-y: scroll;
        overflow-x: hidden;
    }
  
}